body {
    background-color: cornflowerblue;
}

.titulo{
    text-align: center;
    color: white;
    margin-top: 40px;
    text-shadow: 0 2px goldenrod;
    font-style: italic;
    cursor: pointer;

    
}

.content_footer{

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: overline;
    font-size: 18px;
    color: black;
    padding: 10px;
    margin-top: 40px;

}


